.time {
    background: var(--button-gradient-primary);
    border-radius: var(--border-radius-lg);
    width: 21rem;
    padding: 0.8rem;
    margin-inline: auto;
}

.time-points {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.time-point {
    background-color: #2a3727A6;
    border-radius: var(--border-radius);
    color: var(--text-light);
    font-size: var(--font-size-xs);
    padding: 0.5rem;
}

@media(max-width: 420px) and (min-width: 351px) {
    .time {
        width: 45vw;
    }
}

@media(max-width: 350px) {
    .time {
        width: calc(100vw - 2rem);
        margin-inline: 1rem;
    }
}