.upload-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 34rem;
    height: 18rem;
    background: var(--upload-gradient-primary);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.upload--dragover {
    background: var(--upload-gradient-secondary);
    transform: scale(1.02);
    box-shadow: var(--shadow-lg);
}

.upload--has-file {
    background: var(--upload-gradient-secondary);
}

.upload__area {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 4rem;
}

.upload__title {
    font-size: var(--font-size-lg);
}

.upload__subtitle {
    font-size: var(--font-size-xs);
    color: var(--color-header);
    font-weight: 400;
}

.upload__actions {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: -2.3rem;
    width: 100%;
}

@media(max-width: 1024px) and (orientation: portrait) {
    .upload-container {
        margin-inline: 2rem;
    }
}

@media(max-width: 431px) {
    .upload__actions {
        flex-direction: column;
        bottom: -4.3rem;
        gap: 0.5rem;
        width: 100%;
    }
}

@media(max-width: 431px) {
    .upload__title {
        text-align: center;
        margin-bottom: 1rem;
        padding-inline: 0.5rem;
    }
}