@import './base/reset.css';
@import './base/fonts.css';
@import './base/variables.css';
@import './base/base.css';
@import './base/results.css';

@import './components/button/button.css';
@import './components/header/header.css';
@import './components/header/header__nav.css';
@import './components/input/input.css';
@import './components/notification/notification.css';
@import './components/point/point.css';
@import './components/loop/loop.css';
@import './components/footer/footer.css';
@import './components/card/card.css';

@import './sections/hero/hero.css';
@import './sections/upload/upload.css';
@import './sections/features/features.css';
@import './sections/hero/image-preview.css';
@import './sections/upload/gallery.css';
@import './sections/camera/camera.css';
@import './sections/time/time.css';
@import './sections/settings/settings.css';
@import './sections/meta-section/meta-section.css';