.camera {
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 0.8rem;
    border-radius: var(--border-radius-lg);
    margin-bottom: 2.3rem;
    width: 34rem;
    margin-inline: auto;
}

.camera-title {
    background-color: #ccebc6D9;
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    height: 1.5rem;
    margin-bottom: 0.8rem;
}

.camera-points {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.camera-point {
    background: none;
}