.point {
    width: fit-content;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.5rem;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
                    circle at center,
                    #b1e5a699 40%,
                    #c7f6ca99 92%
                );
    border-radius: var(--border-radius-lg);
}

.point--text {
    font-size: var(--font-size-xs);
}

.point--icon {
    height: 1rem;
}

.points__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 19rem;
    gap: 0.75rem;
    margin-bottom: 2rem;
}

@media (max-width: 720px) {
    .point {
        height: auto;
        gap: 1.5rem;
        padding-inline: 1.5rem;
    }
    .point--text {
        font-size: var(--font-size-3xl);
    }

    .point--icon {
        height: 3.5rem;
    }

    .points__group {
        max-width: 100%;
    }
}