.header__nav {
    display: flex;
}

.header__list {
    display: flex;
    gap: 0.8rem;
}

.header__link {
    color: var(--text-light);
    font-size: var(--font-size-xs);
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--text-dark);
}

@media (max-width: 720px) {
    .header__list {
        flex-direction: column;
        align-items: center;
    }

    .header__link {
        font-size: var(--font-size-3xl);
    }
}