.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
    gap: 10rem;
    min-height: 100vh;
}

.hero__header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero__icon {
    position: absolute;
    width: 14rem;
    left: 3rem;
    top: -5.5rem;
    z-index: -1;
}

.hero__title {
    font-size: var(--font-size-3xl);
    max-width: 20rem;
    font-weight: 400;
    line-height: 1.2;
} 

.hero__title.dark {
    color: var(--color-background);
}

@media(max-width: 350px) {
    .hero {
        flex-direction: column;
        margin-top: 55vw;
        padding-block: 0;
    }

    .hero__title {
        text-align: center;
        font-size: var(--font-size-2xl);
    }

    .hero__icon {
        width: 70vw;
        left: 0.5rem;
    }

    .hero__header {
        align-items: center;
        width: calc(100vw - 5rem);
        margin-inline: 2.5rem;
    }
}

@media(max-width: 350px) and (min-width: 321px) {
    .hero {
        margin-top: 55vw;
        max-width: var()
    }
}  

@media(max-width: 576px) and (min-width: 420px) {
    .hero {
        gap: 4.5rem;
        margin-inline: 2rem;
        justify-content: space-between;
    }

    .hero__header {
        min-width: 45vw;
    }
}

@media(max-width: 420px) and (min-width: 351px) {
    .hero {
        gap: 0;
        margin-top: -3rem;
        margin-inline: 1rem;
        justify-content: space-between;
    }

    .hero__header {
        min-width: 55vw;
    }
}