.image-preview {
    position: relative;
}

.image-preview__photo {
    position: relative;
    height: 18rem;
    filter: var(--image-filter);
    transition: var(--transition);
    bottom: 2.8rem;
}

.image-preview__photo:hover {
    filter:  var(--image-filter-hover);
    transform: translateY(-2px);
}

.image-preview__decoration {
    position: absolute;
    width: 18rem;
    left: -11rem;
    top: 11rem;
    z-index: -1; 
}

@media(max-width: 431px) {
    .image-preview {
        max-width: fit-content;
    }

    .image-preview__decoration {
        display: none;
    }
}

@media(max-width: 1024px) and (min-width: 577px) and (orientation: portrait) {
    .image-preview {
        min-width: calc(100vw - 45vw - 8.5rem);
    }
}

@media(max-width: 1024px) and (min-width: 431px) and (orientation: portrait) {
    .image-preview {
        min-width: calc(100vw - 45vw - 4rem);
        top: 7rem;
    }
}